<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add student</title>
</head>
<body>
    <form action="/add_student/" method="POST">

        <div>
            <div>
                <label for="first_name">First Name: </label>
                <input
                    type="text"
                    name="first_name"
                    required
                />
            </div>
        </div>

        <div>
            <div>
                <label for="last_name">Last Name: </label>

                <input
                    type="text"
                    name="last_name"
                    required
                />
            </div>
        </div>

        

        <div>
            <div>
                <label>Gender: </label>

                <select
                    name="gender"
                    class="form-control"
                    required
                >

                    <option value="">
                    Select Gender
                    </option>

                    <option value="Male">
                    Male
                    </option>

                    <option value="Female">
                    Female
                    </option>

            </select>
            </div>
        </div>

        <div>
            <div>
                <label for="mobile_number">Mobile Number: </label>

                <input
                    type="text"
                    name="mobile_number"
                    required
                />
            </div>
        </div>

        <div>
            <div>
                <label for="course_name">Course Name: </label>

                <input
                    type="text"
                    name="course_name"
                    required
                />
            </div>
        <div>

        </div>
            </div>
                <lable for="email">Email Address: </lable>
                <input
                    type="text"
                    name="email"
                    required
                />
        </div>
        </div>   
        <button type="submit">Add student</button> 
    </form>
</body>
</html>